* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 1020px;
    margin: auto;
    font-family: Lato, sans-serif;
}

header {
    height: 88px;
    background-color: #2d303a;
}

nav {
    //border: 1px solid blue;
    position: relative;
    padding-top: 38px;
    margin-left: 608px;
}

nav a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    color: #f06c64;
}

.home a {
    color: #f06c64;
}

.singolo {
    color: white;
    font-family: Lato, sans-serif;
    font-size: 12px;
    margin-left: 40px;
    margin-top: 30px;
    position: absolute;
}

.star {
    color: #f06c64;
    font-weight: 400;
}

.bar {
    color: white;
    font-family: Lato, sans-serif;
    font-size: 12.2px;
    //border: 1px solid white;
    display: inline-block;
}

.home {

}

.services {
    margin-left: 26px;
}

.portfolio {
    margin-left: 25px;
}

.about {
    margin-left: 26px;
}

.contact {
    margin-left: 25px;
}

.line_1 {
    height: 7px;
    background-color: #323746;
}

.slider {
    height: 592px;
    background-color: #f06c64;
}

.iphone {
    display: inline-block;
    height: 458px;
    width: 215px;
    background-color: #f2f2f2;
    border-radius: 27px;
    margin-left: 92px;
    position: relative;
    top: 53px;
    box-shadow: 25px 25px #ce5d56;
}

.camera {
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: #eb5055;
    margin: 0 auto;
    border: 3px solid #d8d8d8;
    position: relative;
    top: 16px;
}

.speaker {
    height: 5px;
    width: 36px;
    background-color: #acacac;
    border-radius: 5px;
    margin: 0 auto;
    position: relative;
    top: 25px;
}

.image {
    width: 194px;
    height: 339px;
    border: 2px solid #c7c7c7;
    border-radius: 3px;
    margin-left: 11px;
    margin-top: 47px;
}

.home_btn {
    width: 42px;
    height: 42px;
    border-radius: 21px;
    background-color: #fafafa;
    margin: 0 auto;
    margin-top: 3px;
}

.home_sqr {
    width: 16px;
    height: 16px;
    border-radius: 4px;
    border: 2px solid #bababa;
    margin: 0 auto;
    position: relative;
    top: 13px;
}

.horizontal {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    box-shadow: 25px -25px #ce5d56;
    position: relative;
    left: 123px;
}

.arrow {
    width: 20px;
    height: 20px;
    transition: 0.5s;
    cursor: pointer;
    box-shadow: -5px 5px 0 #c94549;
}

.left {
    transform: rotate(45deg);
    position: relative;
    float: left;
    top: 285px;
    left: 53px;
}

.right {
    transform: rotate(225deg);
    position: relative;
    float: right;
    top: 285px;
    right: 50px;
}

.right:hover, .left:hover {
    box-shadow: -5px 5px 0 white;
}

.line_2 {
    height: 7px;
    background-color: #ea676b;
}

.our_services {
    height: 494px;
    background-color: #f2f2f2;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 59px;
}

h2 {
    font-size: 30px;
    font-weight: 900;
    color: #666d89;
}

article p {
    color: #767e9e;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.7;
    margin-top: 18px;
}

.container {
    display: grid;
    grid-template-rows: 1fr / 1fr;
    grid-template-columns: repeat(3, 80px 240px);
    margin-top: 36px;
    line-height: 2;
    grid-row-gap: 22px;
}

h3 {
    color: #666d89;
    font-weight: 900;
    font-size: 18px;
}

.icon {
    padding-top: 12px;
}

.text {
    padding-right: 18px;
}

.box p {
    color: #767e9e;
    font-size: 11px;
    font-weight: 600;
    word-spacing: 0.2em;
}


.line_3 {
    height: 7px;
    background-color: white;
}
