* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-padding-top: 89px;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 89px;
}

body {
    width: 1020px;
    margin: auto;
    font-family: Lato, sans-serif;
    background-color: #F06C64;
}

.header__wrapper {
    width: 1020px;
    position: fixed;
    height: 89px;
    background-color: #2d303a;
    z-index: 10;
}

@media screen and (max-width: 1020px){
    body {
        width: 100%;
    }

    .header__wrapper {
        width: 100%;
    }
}

.navigation {
    //border: 1px solid blue;
    position: relative;
    padding-top: 38px;
    float: right;
    margin-right: 40px;
}

a {
    text-decoration: none;
    color: white;
}

.navigation a:hover {
    color: #f06c64;
}

.singolo {
    color: white;
    font-family: Lato, sans-serif;
    font-size: 12px;
    margin-left: 40px;
    margin-top: 30px;
    position: absolute;
}

.star {
    color: #f06c64;
    font-weight: 400;
}

.bar {
    color: white;
    font-family: Lato, sans-serif;
    font-size: 12.2px;
    //border: 1px solid white;
    display: inline-block;
}

.selected {
    color: #f06c64;
}

.services {
    margin-left: 26px;
}

.portfolio {
    margin-left: 25px;
}

.about {
    margin-left: 26px;
}

.contact {
    margin-left: 25px;
}

.line1 {
    height: 6px;
    background-color: #323746;
    position: relative;
    top: 89px;
}

@media screen and (max-width: 768px){
    header {
        display: none;
    }

    .alternative-header {
        width: 100%;
        height: 71px;
        background-color: #2d303a;
        position: fixed;
        z-index: 10;
    }

    .burger {
        width: 25px;
        height: 20px;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-row-gap: 7px;
        cursor: pointer;
        position: relative;
        top: 26px;
        left: 20px;
    }

    .burger div{
        width: 25px;
        height: 3px;
        background-color: white;
    }

    .singolo {
        display: inline-block;
        margin-left: 42%;
        margin-top: 5px;
        position: absolute;
    }

    .star {
        color: #f06c64;
        font-weight: 400;
    }

    .line1 {
        top: 71px;
    }
}

#slider {
    height: 594px;
    margin-top: 69px;
}

.arrow {
    width: 20px;
    height: 20px;
    transition: 0.5s;
    cursor: pointer;
    box-shadow: -5px 5px 0 #c94549;
    z-index: 2;
}

.left {
    transform: rotate(45deg);
    position: relative;
    float: left;
    top: 285px;
    left: 53px;
}

.right {
    transform: rotate(225deg);
    position: relative;
    float: right;
    top: 285px;
    right: 50px;
}

.right:hover, .left:hover {
    box-shadow: -5px 5px 0 white;
}

.encloser {
    height: 594px;
    width: 1020px;
    overflow: hidden;
}

.hide {
    height: 594px;
    width: 3060px;
    position: relative;
    right: 1020px;
}

.slider__wrapper {
    width: 1020px;
    height: 594px;
    display: inline-block;
    position: absolute;
}

.slider__wrapper:nth-child(2) {
    left: 1020px;
}

.slider__wrapper:nth-child(3) {
    left: 2040px;
}

.slider-1 {
    width: 1020px;
    height: 594px;
}

.slider-2 {
    height: 594px;
    width: 1020px;
    background-color: #f06c64;
}

.slider-3 {
    width: 1020px;
    height: 594px;
}

.iphone {
    display: inline-block;
    height: 458px;
    width: 215px;
    background-color: #f2f2f2;
    border-radius: 27px;
    margin-left: 102px;
    position: relative;
    top: 53px;
    box-shadow: 25px 25px #ce5d56;
}

.camera {
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: #eb5055;
    margin: 0 auto;
    border: 3px solid #d8d8d8;
    position: relative;
    top: 16px;
}

.speaker {
    height: 5px;
    width: 36px;
    background-color: #acacac;
    border-radius: 5px;
    margin: 0 auto;
    position: relative;
    top: 25px;
}

.image-1 {
    width: 194px;
    height: 339px;
    border: 2px solid #c7c7c7;
    border-radius: 3px;
    margin-left: 11px;
    margin-top: 47px;
    z-index: 1;
}

.image-2 {
    width: 194px;
    height: 339px;
    border: 2px solid #c7c7c7;
    border-radius: 3px;
    margin-left: 11px;
    margin-top: 47px;
    z-index: 1;
}

.off-1 {
    width: 194px;
    height: 339px;
    border: 2px solid #c7c7c7;
    border-radius: 3px;
    position: absolute;
    margin-left: 12px;
    margin-top: 48px;
    background-color: black;
    z-index: -1;
}

.off-2 {
    width: 194px;
    height: 339px;
    border: 2px solid #c7c7c7;
    border-radius: 3px;
    position: absolute;
    margin-left: 12px;
    margin-top: 48px;
    background-color: black;
    z-index: -1;
}

.home_btn {
    width: 42px;
    height: 42px;
    border-radius: 21px;
    background-color: #fafafa;
    margin: 0 auto;
    margin-top: 3px;
    cursor: pointer;
}

.home_sqr {
    width: 16px;
    height: 16px;
    border-radius: 4px;
    border: 2px solid #bababa;
    margin: 0 auto;
    position: relative;
    top: 13px;
}

.horizontal {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    box-shadow: 25px -25px #ce5d56;
    position: relative;
    left: 123px;
}

.line2 {
    height: 6px;
    background-color: #ea676b;
    margin-top: 20px;
}

@media screen and (max-width: 1020px){
    #slider {
        height: 446px;
        margin-top: 89px;
    }

    .left {
        top: 211px;
        left: 53px;
    }

    .right {
        top: 211px;
        right: 50px;
    }

    .encloser {
        height: 446px;
        width: 768px;
        overflow: hidden;
        margin: auto;
    }

    .hide {
        height: 446px;
        width: 2304px;
        position: relative;
        right: 768px;
    }

    .slider__wrapper {
        width: 768px;
        height: 446px;
        display: inline-block;
        position: absolute;
    }

    .slider__wrapper:nth-child(2) {
        left: 768px;
    }

    .slider__wrapper:nth-child(3) {
        left: 1536px;
    }

    .slider-1 {
        width: 768px;
        height: 446px;
    }

    .slider-2 {
        height: 446px;
        width: 768px;
        background-color: #f06c64;
    }

    .slider-3 {
        width: 768px;
        height: 446px;
    }

    .iphone {
        display: inline-block;
        height: 344px;
        width: 162px;
        background-color: #f2f2f2;
        border-radius: 20px;
        margin-left: 84px;
        position: relative;
        top: 41px;
        box-shadow: 20px 20px #ce5d56;
    }

    .camera {
        height: 10px;
        width: 10px;
        border-radius: 5px;
        background-color: #eb5055;
        margin: 0 auto;
        border: 3px solid #d8d8d8;
        position: relative;
        top: 12px;
    }

    .speaker {
        height: 5px;
        width: 30px;
        background-color: #acacac;
        border-radius: 5px;
        margin: 0 auto;
        position: relative;
        top: 18px;
    }

    .image-1 {
        width: 142px;
        height: 251px;
        border: 2px solid #c7c7c7;
        border-radius: 3px;
        margin-left: 11px;
        margin-top: 34px;
        z-index: 1;
    }

    .image-2 {
        width: 142px;
        height: 251px;
        border: 2px solid #c7c7c7;
        border-radius: 3px;
        margin-left: 11px;
        margin-top: 34px;
        z-index: 1;
    }

    .off-1 {
        width: 142px;
        height: 251px;
        border: 2px solid #c7c7c7;
        border-radius: 3px;
        position: absolute;
        margin-left: 11px;
        margin-top: 37px;
        background-color: black;
        z-index: -1;
    }

    .off-2 {
        width: 142px;
        height: 251px;
        border: 2px solid #c7c7c7;
        border-radius: 3px;
        position: absolute;
        margin-left: 11px;
        margin-top: 34px;
        background-color: black;
        z-index: -1;
    }

    .home_btn {
        width: 32px;
        height: 32px;
        border-radius: 16px;
        background-color: #fafafa;
        margin: 0 auto;
        margin-top: 3px;
        cursor: pointer;
    }

    .home_sqr {
        width: 12px;
        height: 12px;
        border-radius: 3px;
        border: 2px solid #bababa;
        margin: 0 auto;
        position: relative;
        top: 9px;
    }

    .horizontal {
        box-shadow: 20px -20px #ce5d56;
        position: relative;
        left: 123px;
    }

    .slider-image {
        height: 446px;
        width: 768px;
    }

    .line2 {
        margin-top: 0;
    }
}

@media screen and (max-width: 768px) {
    #slider {
        height: 221px;
        margin-top: 71px;
    }

    .left {
        top: 98px;
        left: 30px;
    }

    .right {
        top: 98px;
        right: 30px;
    }

    .encloser {
        height: 221px;
        width: 375px;
        overflow: hidden;
        margin: auto;
    }

    .hide {
        height: 221px;
        width: 1125px;
        position: relative;
        right: 375px;
    }

    .slider__wrapper {
        width: 375px;
        height: 221px;
        display: inline-block;
        position: absolute;
    }

    .slider__wrapper:nth-child(2) {
        left: 375px;
    }

    .slider__wrapper:nth-child(3) {
        left: 750px;
    }

    .slider-1 {
        width: 375px;
        height: 221px;
    }

    .slider-2 {
        height: 221px;
        width: 375px;
        background-color: #f06c64;
    }

    .slider-3 {
        width: 375px;
        height: 221px;
    }

    .iphone {
        display: inline-block;
        height: 168px;
        width: 79px;
        background-color: #f2f2f2;
        border-radius: 12px;
        margin-left: 40px;
        position: relative;
        top: 20px;
        box-shadow: 10px 10px #ce5d56;
    }

    .camera {
        height: 4px;
        width: 4px;
        border-radius: 2px;
        background-color: #eb5055;
        margin: 0 auto;
        border: 1px solid #d8d8d8;
        position: relative;
        top: 6px;
    }

    .speaker {
        height: 2px;
        width: 13px;
        background-color: #acacac;
        border-radius: 5px;
        margin: 0 auto;
        position: relative;
        top: 10px;
    }

    .image-1 {
        width: 69px;
        height: 122px;
        border: 1px solid #c7c7c7;
        border-radius: 3px;
        margin-left: 5px;
        margin-top: 18px;
        z-index: 1;
    }

    .image-2 {
        width: 62px;
        height: 122px;
        border: 1px solid #c7c7c7;
        border-radius: 3px;
        margin-left: 5px;
        margin-top: 18px;
        z-index: 1;
    }

    .off-1 {
        width: 62px;
        height: 122px;
        border: 2px solid #c7c7c7;
        border-radius: 3px;
        position: absolute;
        margin-left: 5px;
        margin-top: 18px;
        background-color: black;
        z-index: -1;
    }

    .off-2 {
        width: 62px;
        height: 122px;
        border: 2px solid #c7c7c7;
        border-radius: 3px;
        position: absolute;
        margin-left: 5px;
        margin-top: 18px;
        background-color: black;
        z-index: -1;
    }

    .home_btn {
        width: 15px;
        height: 15px;
        border-radius: 7.5px;
        background-color: #fafafa;
        margin: 0 auto;
        margin-top: 1px;
        cursor: pointer;
    }

    .home_sqr {
        width: 6px;
        height: 6px;
        border-radius: 2px;
        border: 1px solid #bababa;
        margin: 0 auto;
        position: relative;
        top: 4px;
    }

    .horizontal {
        box-shadow: 10px -10px #ce5d56;
        position: relative;
        left: 37px;
    }

    .slider-image {
        height: 221px;
        width: 375px;
    }

    .line2 {
        margin-top: 0;
    }
}

#our_services {
    height: 494px;
    background-color: #f2f2f2;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 59px;
}

h2 {
    font-size: 30px;
    font-weight: 900;
    color: #666d89;
}

article p {
    color: #767e9e;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.7;
    margin-top: 18px;
}

.container {
    display: grid;
    grid-template-rows: 1fr / 1fr;
    grid-template-columns: repeat(3, 80px 240px);
    margin-top: 36px;
    line-height: 2;
    grid-row-gap: 22px;
}

h3 {
    color: #666d89;
    font-weight: 900;
    font-size: 18px;
}

.icon {
    padding-top: 11px;
}

.text {
    padding-right: 18px;
}

.box p {
    color: #767e9e;
    font-size: 11px;
    font-weight: 600;
    word-spacing: 0.2em;
}


.line3 {
    height: 6px;
    background-color: white;
}

@media screen and (max-width: 1020px) {
    #our_services {
        height: 670px;
        padding-top: 50px;
    }

    .container {
        display: grid;
        grid-template-rows: 1fr / 1fr / 1fr;
        grid-template-columns: repeat(2, 60px 240px);
        grid-row-gap: 39px;
        grid-column-gap: 30px;
        justify-content:  center;
    }

    .text {
        padding-right: 25px;
    }

}

@media screen and (max-width: 768px) {
    #our_services {
        height: 100%;
        padding-top: 32px;
    }

    .container {
        display: grid;
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: 60px 220px;
        grid-row-gap: 15px;
        grid-column-gap: 30px;
        justify-content:  center;
    }

    .text {
        padding-right: 25px;
    }

}

#portfolio {
    height: 864px;
    background-color: #2d303a;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 59px;
    color: #666d89;
}

#portfolio h1 {
    font-size: 30px;
    font-weight: 900;
}

#portfolio p {
    font-size: 17.5px;
    font-weight: 400;
    margin-top: 23px;
}

.categories {
    font-size: 12px;
    font-weight: 700;
    margin-top: 15px;
    letter-spacing: -0.2px;
}

.box-new {
    display: inline-block;
    border: 1px solid #666d89;
    border-radius: 5px;
    padding-top: 2px;
    padding-bottom: 3px;
    margin-right: 7px;
    margin-left: 1px;
    color: #666d89;
    cursor: pointer;
}

.active {
    border-color: #c5c5c5;
    color: #c5c5c5;
}

.all {
    width: 29px;
    padding-left: 7px;
}

.web_design {
    width: 78px;
    padding-left: 6.5px;
}

.graphic_design {
    width: 93px;
    padding-left: 6px;
}

.artwork {
    width: 57px;
    padding-left: 5px;
}

.box-new:hover {
    border-color: #c5c5c5;
    color: #c5c5c5;
}

.img_container {
    display: grid;
    margin-top: 19px;
    width: 940px;
    height: 601px;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px 20px;
    overflow: hidden;
}

.img {
    width: 220px;
    height: 187px;
}

.img img {
    width: 220px;
    height: 187px;
}

.borderate {
    border: 5px solid #F06C64;
}

.line4 {
    height: 6px;
    background-color: #323746;
}

@media screen and (max-width: 1020px) {
    #portfolio {
        width: 100%;
        height: 100%;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 59px;
        padding-bottom: 80px;
    }

    .img_container {
        display: grid;
        margin-top: 19px;
        width: 100%;
        height: 100%;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px 20px;
        overflow: visible;
    }

    .img {
        width: 100%;
        height: 100%;
    }

    .img img {
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 768px) {
    #portfolio {
        width: 100%;
        height: 100%;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 59px;
        padding-bottom: 60px;
    }

    .img_container {
        display: grid;
        margin-top: 19px;
        width: 100%;
        height: 100%;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px 10px;
        overflow: hidden;
    }

    .img {
        width: 100%;
        height: 100%;
    }

    .img img {
        width: 100%;
        height: 100%;
    }

    .extra {
        display: none;
    }
}

#aboutus {
    height: 728px;
    background-color: #f2f2f2;
    color: #666d89;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 58px;
}

#aboutus h1 {
    font-size: 30px;
    font-weight: 900;
    letter-spacing: -0.2px;
}

#aboutus article {
    font-size: 17.5px;
    font-weight: 400;
    margin-top: 19px;
    color: #767e9e;
    line-height: 30px;
    font-weight: 350;
    letter-spacing: 0.2px;
}

#aboutus article span {
    word-spacing: 1.23px;
}

.portrait {
    display: grid;
    width: 940px;
    height: 300px;
    margin-top: 44px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
}

.portrait h3 {
    height: 25px;
    margin-top: 12px;
    font-weight: 900;
    letter-spacing: -0.45px;
    overflow: hidden;
}

.portrait p {
    font-size: 12px;
    line-height: 21px;
    color: #767e9e;
    font-weight: 500;
    margin-top: 5px;
}

.word_space {
    word-spacing: -0.5px;
}

.social_media {
    margin-top: 24px;
    padding-left: 1px;
}

.social_media img {
    display: inline-block;
    width: 32px;
    height: 32px;
    transition: transform .2s;
    margin-right: 5px;
}

.social_media img:hover {
    transform: scale(1.2);
}

.line5 {
    height: 6px;
    background-color: #ffffff;
}

@media screen and (max-width: 1020px) {
    #aboutus {
        height: 100%;
        padding-bottom: 80px;
    }

    .portrait {
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 2.2%;
    }

    .avatar {
        width: 100%;
    }

    .portrait p {
        height: 65px;
        overflow: hidden;
    }
}

@media screen and (max-width: 768px) {
    #aboutus {
        height: 100%;
        padding-bottom: 110px;
        padding-right: 30px;
        padding-left: 30px;
    }

    .portrait {
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-row-gap: 2.2%;
    }

    .avatar {
        width: 100%;
    }

    .portrait p {
        height: 40px;
        overflow: hidden;
    }

    .social_media {
        margin-top: 5px;
        padding-left: 1px;
    }
}

#get-a-quote {
    height: 648px;
    background-color: #f06c64;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 59px;
}

#get-a-quote h1 {
    font-weight: 900;
    color: #f0d8d9;
    font-size: 30px;
    letter-spacing: -0.2px;
}

#get-a-quote p {
    padding-top: 18px;
    color: #f0d8d9;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.7;
}

#get-a-quote p span {
    word-spacing: 1.1px;
}

.information {
    display: grid;
    grid-template-columns: 620px 300px;
    grid-column-gap: 20px;
    padding-top: 44px;
}

input {
    background-color: #d6564f;
    display: block;
    width: 619px;
    height: 38px;
    border-radius: 5px;
    margin-bottom: 16px;
    border-style: none;
    padding-left: 15px;
    padding-right: 15px;
    color: #f0d8d9;
}

.required {
    background-color: #F9D365;
    border: 2px solid red;
    color: black;
}

textarea {
    background-color: #d6564f;
    width: 619px;
    height: 202px;
    resize: none;
    border-radius: 5px;
    border-style: none;
    padding: 10px 15px 15px 15px;
    color: #f0d8d9;
}

button {
    height: 30px;
    width: 100px;
    margin-top: 16px;
    background-color: #f0d8d9;
    border-style: none;
    border-radius: 5px;
    color: #2d303a;
    float: right;
}

::placeholder {
    font-family: Lato;
    color: #f08688;
    font-size: 12px;
    letter-spacing: 0px;
    opacity: 1;
}

.contacts h3 {
    color: #f0d8d9;
    font-size: 18px;
    line-height: 1;
}

.contacts p {
    font-size: 12px;
    font-weight: 400;
    padding-top: 0;
    line-height: 1.85;
    margin-top: 10px;
    word-spacing: -0.3px;
}

ul {
    list-style-type: none;
    margin-top: 23px;
    color: #f0d8d9;
}

li {
    font-size: 12px;
    margin-bottom: 5px;
    margin-bottom: 6.5px;
}

li div{
    width: 22px;
    display: inline-block;
}

.location {
    padding-left: 3px;
}

.phone_number a {
    text-decoration: none;
    color: #f0d8d9;
}

.email_address a {
    text-decoration: none;
    color: #f0d8d9;
}

.line6 {
    height: 6px;
    background-color: #ea676b;
}

@media screen and (max-width: 1020px) {
    #get-a-quote {
        height: 100%;
        padding-right: 40px;
        padding-left: 40px;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .information {
        display: grid;
        grid-template-columns: 67% 33%;
        grid-column-gap: 20px;
        padding-top: 44px;
    }

    input {
        width: 100%;
    }

    textarea {
        width: 100%;
    }

}

@media screen and (max-width: 768px) {
    #get-a-quote {
        height: 100%;
        padding-right: 30px;
        padding-left: 30px;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .information {
        display: block;
        padding-top: 44px;
    }

    input {
        width: 100%;
    }

    textarea {
        width: 100%;
    }

    button {
        height: 50px;
        width: 100%;
        margin-top: 16px;
        background-color: #f0d8d9;
        border-style: none;
        border-radius: 5px;
        color: #2d303a;
        float: right;
        font-size: 18px;
        margin-bottom: 35px;
    }

}

footer {
    height: 76px;
    background-color: #2d303a;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    padding-right: 40px;
    padding-left: 43px;
}

.copy {
    justify-self: start;
    color: #666d89;
    font-size: 11.5px;
    padding-top: 11px;
}

.social_links {
    justify-self: end;
    padding-top: 2px;
}

.social_links img {
    display: inline-block;
    width: 32px;
    height: 32px;
    transition: transform .2s;
    margin-left: 4.5px;
}

.social_links img:hover {
    transform: scale(1.2);
}

@media screen and (max-width: 768px) {

    footer {
        height: 76px;
        background-color: #2d303a;
        display: grid;
        grid-template-columns: 1fr;
        align-content: center;
        padding-right: 40px;
        padding-left: 43px;
    }

    .copy {
        display: none;
    }

    .social_links {
        justify-self: center;
        padding-top: 2px;
    }

    .social_links img {
        display: inline-block;
        width: 32px;
        height: 32px;
        transition: transform .2s;
        margin-left: 4.5px;
    }
}

.popup {
    width: 350px;
    height: 250px;
    border-radius: 10px;
    position: fixed;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin-top: -125px;
    margin-left: -175px;
    background-color: white;
    padding: 15px 15px;
    border: 2px solid #DADADA;
}

.popup p {
    margin-top: 10px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.popup button {
    background-color: #f06c64;
    margin-left: 112px;
    color: white;
    position: absolute;
    top: 180px;
}

